solaredge:
  url: 'https://monitoringapi.solaredge.com'
  site: ''
  api_key: ''

influxdb:
  influxdbclient:
    host: ''
    port: '8086'
    ssl: false
    verify_ssl: false
    username: ''
    password: ''
    database: 'solaredge'
  tags:
    site: ''